fastapi==0.73.0
numpy>1.17.3
opencv_python==4.5.5.62
Pillow==9.0.1
pydantic==1.8.2
pytesseract==0.3.8
python-dotenv==0.19.2
pytube==11.0.2
requests==2.26.0
starlette==0.17.1
streamlit==1.5.0
uvicorn==0.17.1
python-multipart
